/*	TODO change this to dani's font	*/
$main-font: 'Merriweather', sans-serif
/*	Colors	*/
$primary-pink: #e87ea3
$primary-orange: #F79C81
$primary-blue: #223C78
$secondary-blue: #AFD6D7
$background-grey: #E9EBEf

body
	font: $main-font
	color: $primary-blue