<div id="left-card-container" class="card-container">
	{{#if fields.name}}
		<div>{{restaurant.name}}</div>
	{{/if}}
	{{#if fields.rating}}
		<div>Rating: {{restaurant.rating}}</div>
	{{/if}}
	{{#if fields.totalReviews}}
		<div>Total Reviews: {{restaurant.user_ratings_total}}</div>
	{{/if}}
		<!-- TODO add photo	-->
</div>