<div id="left-card-container" class="card-container">
	<ul>
		
		<li>{{restaurant.name}}</li>
		<li>rating: {{restaurant.rating}}</li>
		<li>Total Reviews: {{restaurant.user_ratings_total}}</li>
		<!-- TODO add photo	-->
	</ul>
</div>
