<div id="right-card-container" class="card-container">
	{{#if fields.open }}
		<div>Open: {{restaurant.opening_hours.open_now}}</div>
	{{/if}}
	{{#if fields.price}}
		<div>Pricing: {{restaurant.price_level}}</div>
	{{/if}}
	{{#if fields.dineIn}}
		<div>Dine in</div>
	{{/if}}
	{{#if fields.takeOut}}
		<div>Take out</div>
	{{/if}}
</div>
