<div id="right-card-container" class="card-container">
	<ul>
		<li>Open: {{is_open}}</li>
		<li>Pricing: {{price_level}}</li>
		<li>Dine in: {{has_dine_in}}</li>
		<li>Take out: {{has_take_out}}</li>
	</ul>
</div>