<div id="right-card-container" class="card-container">
	<ul>
		{{#if fields.open }}
		<li>Open: {{restaurant.opening_hours.open_now}}</li>
		{{/if}}
		{{#if fields.price}}
			<li>Pricing: {{restaurant.price_level}}</li>
		{{/if}}
		{{#if fields.dineIn}}
			<li>Dine in</li>
		{{/if}}
		{{#if fields.takeOut}}
			<li>Take out</li>
		{{/if}}
	</ul>
</div>