<div id="card-content-container">
	{{> leftCard}}
	{{> rightCard}}
<<<<<<< HEAD
=======
  <!-- In here add something to display the restrauntprofile -->
>>>>>>> a3773181eff5237071ae1380802880cceb80e392
</div>
