<div id="lr-card-container">
	<div id="left-card-container" class="card-container">
    	{{> leftCard}}
	</div>
	<div id="right-card-container" class="card-container">
    	{{> rightCard}}
	</div>
</div>